@charset"UTF-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web); /* criando a font importadas direto do google.com/fonts  */
@font-face { /* criando a font no proprio css - não precisa existir a font no computador do usuario  */
	font-family: 'FonteLogo';
	src: url("../fonts/bubblegum-sans-regular.otf");
}
body{
			font-family: Arial, sans-serif;
			background-color: #dddddd; /* cor de fundo da pagina */
			color: rgba(0,0,0,1);
		}	

		p{
			text-align: justify;
			text-indent: 50px;
		}

		a {
			color: #606060;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

header#cabecalho img#icone { /* Formatação de imagens do oculos na pagina */
	position: absolute;
	left: 980px;  
	top: 70px;
}	
header#cabecalho {
	border-bottom: 1px #606060 solid;  /* Formatação da linha da borda  */
	height: 150px;  /* Foematação tamanho da borda */
	background: url("../imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /* Formatação da imagem na borda */
}
header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif; /* buscando a font no css */
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
}
header#cabecalho h2 {
	font-family: 'Titillium Web', sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}


/* Foematação a interface - colocando tudo dentro de um contener em possicionamento realativo */
div#interface {
		width: 1000px; /* delemitar o contener na pagina */
		background-color: #ffffff; /* a cor do contener da pagina */
		margin: -20px auto 10px auto; /* configuração da margem  externa da pagina sempre na seguencia - cima / direita / baixo / esquerda */
		box-shadow: 0px 0px 10px rgba(0,0,0,.5); /* a sombra em volta do objeto */
		padding: 10px 10px 10px 10px; /* configuração da margem  interna da pagina sempre na seguencia - cima / direita / baixo / esquerda */
}

/* Foematação de imagens com legendas */
figure.foto-legenda{
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img{
	width: 100%;
	height: 100%;
}
figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s; /* efeito de transição para quando passar o mouse em cima da imagem */
}
figure.foto-legenda:hover figcaption{
	opacity: 1;
}

/* Foematação do menu */
nav#menu {
	display: block; /* para meu meu flutui pela tela, precisa que o menu exibido como boloco */
}
nav#menu ul {
	list-style: none; /* retira os caracters da lista não ordenada */
	text-transform: uppercase; /* Foematação em letra maiuscula */
	position: absolute; /* possição absoluta da lista pelo site*/
	top: -20px; /* direcionamento do menu ao top */
	left: 500px; /* direcionamento do menu ao direita */
}
nav#menu li {
	display: inline-block; /* Foematação a exibição da lista na mesma linha */
	background-color: #dddddd; /* Foematação a cor do fundo dos itens da lista */
	padding: 10px; /* espaço entre os itens do texto */
	margin: 2px; /* margem entre os botons*/
	transition: background-color 1s; /* efeito de transição para quando passar o mouse em cima do item do menu */
} 
nav#menu li:hover {
	background-color: #606060 /* "hover" efeito para quando eu passar o mause por cima do item do menu */
}
nav#menu h1 {
	display: nome; /* esconder o intem menu principal*/
}
nav#menu a { 
	color: #000000; /* todo link com a cor preta*/
	text-decoration: none; /* retirar o sublinhado dos links*/
}
nav#menu a:hover { /* mudar a cor do link quando passar o mose*/
	color: #ffffff;
	text-decoration: underline; /* quando passar o mouse por cima ele sublinha o texto do menu */
}

section#corpo {
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px; 
}
article#noticia-principal h2 {
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}
header#cabecalho-artigo h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}
.canto-direito{
	text-align: right;
}
header#cabecalho-artigo h2 {
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}
header#cabecalho-artigo h3 {
	font-size: 12px;
	color: #606060;
}
table#tabelaspec {
	border: 1px solid #606060;	
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}
table#tabelaspec td {
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: top;	
}
table#tabelaspec td.ce {
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bolder;
}
table#tabelaspec td.cd {
	background-color: 	#cecece;
}
table#tabelaspec caption {
	color: #88888;
	font-size: 13pt;
	font-weight: bolder;
}
table#tabelaspec caption span {
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;	
}
aside#lateral {
	display: block;
	width: 450px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);/* tag<box-shadow> sobra na escrita */
}
aside#lateral h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}
aside#lateral h2{
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff.
	padding: 5px; 
}
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}
footer#rodape p {
	text-align: center;
}